<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>learnPhaser</title>
    <script src="phaser/phaser.js"></script>
    <script src="js/boot.js"></script>
    <script src="js/loader.js"></script>

    <style>
        @font-face {
            font-family: 'fzhyt';
            src: url("res/活一体字体.TTF");
        }
    </style>
</head>
<body>
    <h1 style="font-family: fzhyt">LearnPhaser</h1>
    <div>
        <a href="javascript:void(0)" onclick="test()">测试</a>
    </div>
    <div id="div_phaser" style="width: 150px;height: 150px;border: 1px solid red"></div>
    <script>
        var game = new Phaser.Game(150,150,Phaser.CANVAS,'div_phaser');
        var sprite;

        function test() {
            console.info("test");
        }
        function state() {
            this.init = function(){
                game.scale.scaleMode = Phaser.ScaleManager.SHOW_ALL;   //保持比例,缩放到父元素大小
            },
            this.preload = function(){
                game.load.image('rect','res/方块.png');			//加载图片
            },
            this.create = function(){
                sprite = game.add.sprite(20, 20,'rect');	//添加一个精灵
            },
            this.update = function(){

            }
        }

        game.state.add('state1',state);
        game.state.start('state1');

    </script>
</body>
</html>