<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>learnPhaser</title>
    <script src="phaser/phaser.js"></script>
    <script src="js/boot.js"></script>
    <script src="js/loader.js"></script>

    <style>
        @font-face {
            font-family: 'fzhyt';
            src: url("res/活一体字体.TTF");
        }
    </style>
</head>
<body>
    <h1 style="font-family: fzhyt">LearnPhaser</h1>
    <div id="div_phaser" style="width: 1000px;height: 1000px;border: 1px solid red"></div>

    <script>
        var game = new Phaser.Game(400,400,Phaser.CANVAS,'div_phaser');

        var player;
        var cursors;
        var layer;
        var sprite;


        function state() {
            this.init = function(){
                game.scale.pageAlignHorizontally = true;    //水平居中
                game.scale.pageAlignVertically = true;      //垂直居中


            },
            this.preload = function(){
                game.load.image('backgroud','res/backgroud.png');
                game.load.image('cat','res/cat.jpg');
                game.load.spritesheet('sprite', 'res/a1.png', 32, 32);
                game.load.bitmapFont('font','res/font.png','res/font.fnt')
                game.load.atlasXML('man','res/r.png','res/r.xml');

                game.load.tilemap('mario_map', 'res/mario.json',null,Phaser.Tilemap.TILED_JSON);
                game.load.image('mario','res/mario.png');
                game.load.image('player','res/player.png');//玩家
                game.load.audio('foo','res/music.mp3');


            },
            this.create = function(){
                sprite = game.add.sprite(300, 300, 'cat');//创建精灵
                upKey = game.input.keyboard.addKey(Phaser.Keyboard.UP);
                downKey = game.input.keyboard.addKey(Phaser.Keyboard.DOWN);
                leftKey = game.input.keyboard.addKey(Phaser.Keyboard.LEFT);
                rightKey = game.input.keyboard.addKey(Phaser.Keyboard.RIGHT);
            },
            this.update = function(){
                if(upKey.isDown){
                    sprite.y--;
                }
                else if (downKey.isDown){
                    sprite.y++;
                }
                if (leftKey.isDown){
                    sprite.x--;
                }
                else if (rightKey.isDown){
                    sprite.x++;
                }

            }
        }

        game.state.add('state1',state);
        game.state.start('state1');


    </script>
</body>
</html>